{% extends 'base.html' %}


{% block content %}
<div class="container" style="display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              min-height: 70vh;
                              color : cadetblue;
                              font-family : 'Roboto;
                              ">
    <h1>welcome to flask-dash integrated tool for data analytics</h1>
</div>
{% endblock %}